
---
title: 'DLLHijackingScanner - This Is A PoC For Bypassing UAC Using DLL Hijacking And Abusing The "Trusted Directories" Verification'
categories: 
 - 新媒体
 - 不安全
 - 全文
headimg: 'https://picsum.photos/400/300?random=6298'
author: 不安全
comments: false
date: Sat, 04 Dec 2021 20:30:00 GMT
thumbnail: 'https://picsum.photos/400/300?random=6298'
---

<div>   
DLLHijackingScanner - This Is A PoC For Bypassing UAC Using DLL Hijacking And Abusing The "Trusted Directories" Verification  
</div>
            