
---
title: 'ID5 Identification Verification'
categories: 
 - 学习
 - Mind42
 - 分类
headimg: 'https://mind42.com/api/ajax/mindmapThumbnail?mindmapId=105ebc3b-d32c-4cca-a84d-427ac4fbe538&size=gallery'
author: Mind42
comments: false
date: 2021-10-04 11:06:45
thumbnail: 'https://mind42.com/api/ajax/mindmapThumbnail?mindmapId=105ebc3b-d32c-4cca-a84d-427ac4fbe538&size=gallery'
---

<div>   
<img src="https://mind42.com/api/ajax/mindmapThumbnail?mindmapId=105ebc3b-d32c-4cca-a84d-427ac4fbe538&size=gallery" referrerpolicy="no-referrer"><p>
                                    </p>  
</div>
            